* {
    box-sizing: border-box;
}

body {
    direction: rtl;
    text-align: right;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    position: relative;
    width: 900px;
    margin: auto;
}

header, footer {
    background-color: #909090;
    width: 100%;
}

header {
    height: 105px;
}

/**************** search box ****************/

.search-box>.search-button {
    position: absolute;
    top: 19px;
    left: 0px;
}

.search-box input {
    position: absolute;
    top: 20px;
    left: 20px;
    border-top-right-radius: 5px;
    border: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    width: 140px;
    line-height: 16px;
}

.english {
    position: absolute;
    top: 20px;
    left: 180px;
}

.english a {
    font-size: 12px;
}

/***************** navigation bar *****************/

.logo {
    position: absolute;
    top: -40px;
    right: -10px;
}

.navbar {
    position: relative;
    top: 75px;
    z-index: 2;
    width: 900px;
    justify-content: space-between;
    padding-right: 130px;
}

#icon {
    width: 20px;
    height: 15px;
}

.flex {
    display: flex;
}

header a {
    font-size: 14px;
    font-weight: bold;
    color: white;
    padding: 5px 5px;
    text-decoration: none;
}

.dropdown {
    position: relative;
}

a:hover, .dropdown:hover {
    color: #005A9B;
    text-decoration: underline;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #909090;
    min-width: max-content;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    display: block;
    border-bottom: 1px solid rgb(179, 179, 179);
}

.dropdown-content a:hover {
    background-color: #cecece;
}

.dropdown:hover .dropdown-content {
    display: block;
}

/**************** main ****************/

h4 {
    color: #005CA0;
    margin: 5px;
}

strong, p, label, a, span, h3 {
    color: #807d7d;
}

strong {
    font-size: 13px;
}

p, a, span, label {
    font-size: 13px;
    margin-top: 0;
}

hr {
    border: 1px solid #f5f2f2;
    margin-top: -1px;
}

main>.container {
    position: relative;
}

.mid {
    position: absolute;
    top: 0;
    right: 130px;
    width: 440px;
    height: 426px;
    margin: 5px 0px 5px 50px;
}

.top-nav {
    margin-top: -10px;
    font-size: 12px;
    height: 60px;
    width: 440px;
    display: inline-block;
    position: relative;
    border-bottom: 1px solid #cccccc;
}

.top-nav h3 {
    margin-top: 25px;
}

/******* right contact link *****/

.right-nav {
    width: 120px;
    height: 36px;
    padding-right: 10px;
    padding-top: 7px;
    margin-top: 35px;
    border-top: 1px solid #e2e2e2;
    border-bottom: 1px solid #e2e2e2;
    background-image: linear-gradient(#fff, #fff, #f0ebeb, #e2e2e2, #c4c2c2);
}

.arrow-left {
    position: absolute;
    top: 8px;
    right: 0px;
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-right: 10px solid #005CA0;
}

/************** form *************/

form, .top, .bottom {
    border-top-right-radius: 20px;
    border-top: 1px solid #cccccc;
    border-right: 1px solid #cccccc;
    border-left: 1px solid #cccccc;
    background-image: linear-gradient(#fff, #fff, #efefef);
}

main form {
    position: absolute;
    top: 62px;
    left: 57px;
    width: 385px;
    height: 357px;
    padding-right: 50px;
    padding-left: 10px;
    margin-right: 50px;
}

main .left {
    position: absolute;
    top: 50px;
    right: 480px;
    width: 292px;
    height: 500px;
    z-index: 1;
}

.top, .bottom {
    height: 175px;
    width: 290px;
    padding: 10px 25px;
}

.top {
    margin-bottom: 20px;
}

.bottom a {
    color: blue;
    text-decoration: none;
}

.bottom a:hover {
    color: #005CA0;
    text-decoration: underline;
}

.row {
    content: "";
    clear: both;
    display: table;
}

.form-head {
    margin-right: -20px;
}

.fields {
    margin-right: 40px;
    position: relative;
}

.row>label {
    float: right;
    width: 75px;
}

.row>input {
    width: 160px;
    padding: 3px;
    margin-right: 5px;
    margin-bottom: 5px;
}

.row>textarea {
    width: 240px;
    height: 100px;
    padding: 3px;
    border: 1px solid #808992;
    color: #808992;
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;
}

button {
    position: absolute;
    bottom: 20px;
    left: 52px;
    background-image: linear-gradient(#a0bad1, #00539A);
    border-top-right-radius: 5px;
    color: #fff;
    padding: 2px 8px 0px 8px;
}

button:hover {
    background-image: linear-gradient(#f3e144, #F8B713);
    color: #807d7d;
}

.rqrd {
    color: red;
    display: none;
    /* visibility: hidden; */
    position: absolute;
    right: 10px;
}

.rq-fname {
    top: -5px;
}

.rq-lname {
    top: 24px;
}

.rq-tel {
    top: 53px;
}

.rq-email {
    top: 82px;
}

/* input[type="text"]:invalid ~ .rqrd {
    display: initial;
} */

/************** footer ****************/

.footer-container {
    position: relative;
}

footer {
    position: fixed;
    bottom: 0;
    right: 0;
    height: 40px;
    padding-top: 5px;
}

footer nav a {
    display: inline-block;
    text-decoration: none;
    font-size: 14px;
    color: white;
    width: max-content;
    padding: 10px 0px 0px 0px;
}

footer nav a:hover {
    color: #4D63A0;
}

footer span {
    color: white;
}

/* .hesder {
    color: red;
} */

footer nav {
    position: relative;
}

.fb-icon {
    position: absolute;
    bottom: -2;
    right: -25px;
}