* {
    box-sizing: border-box;
}

body {
    direction: rtl;
    text-align: right;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    position: relative;
    width: 900px;
    margin: auto;
}

header,
footer {
    background-color: #909090;
    width: 100%;
}

header {
    height: 105px;
}

.search-box>.search-button {
    position: absolute;
    top: 19px;
    left: 0px;
}

.search-box input {
    position: absolute;
    top: 20px;
    left: 20px;
    border-top-right-radius: 5px;
    border: 0;
}

.english {
    position: absolute;
    top: 20px;
    left: 180px;
}

.english a {
    font-size: 12px;
}

.logo {
    position: absolute;
    top: -40px;
    right: -80px;
}

.navbar {
    position: absolute;
    top: 75px;
    z-index: 2;
    width: 900px;
    justify-content: space-between;
}

#icon {
    width: 20px;
    height: 20px;
}

.flex {
    display: flex;
}

header a {
    font-size: 14px;
    font-weight: bold;
    color: white;
    text-align: right;
    padding: 5px 5px;
    text-decoration: none;
}

.dropdown-content a {
    border-bottom: 1px solid rgb(179, 179, 179);
}

.dropdown {
    position: relative;
}

a:hover,
.dropdown:hover {
    color: #2733db;
    text-decoration: underline;
    
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #909090;
    min-width: 120px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    display: block;
}

.dropdown:hover .dropdown-content {
    display: block;
}


/**************** main ****************/

h4 {
    color: #005CA0;
    margin: 5px;
}

strong,
p,
label,
a,
span,
h3 {
    color: #807d7d;
}

strong {
    font-size: 14px;
}

p,
a,
span,
label {
    font-size: 13px;
    margin-top: 0;
}

nav a {
    text-decoration: none;
}

hr {
    color: #FBFBFB;
    margin-top: -5px;
}

main>.container {
    position: relative;
}

.mid {
    position: absolute;
    top: 0;
    right: 130px;
    width: 440px;
    height: 426px;
    margin: 5px 0px 5px 50px;
}

.top-nav {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 12px;
    height: 100px;
    width: 440px;
    display: inline-block;
    position: relative;
}

.right-nav {
    width: 120px;
    height: 36px;
    background-color: #EFEFEF;
    padding-right: 10px;
    margin-top: 35px;
}

form,
.top,
.bottom {
    border-top-right-radius: 20px;
}

main form {
    width: 347px;
    height: 332px;
    background-color: #EFEFEF;
    padding-right: 50px;
    padding-left: 10px;
    margin-right: 50px;
}

main .left {
    position: absolute;
    top: 50px;
    right: 480px;
    width: 292px;
    height: 500px;
    z-index: 1;
}

.top,
.bottom {
    height: 175px;
    width: 290px;
    background-color: #EFEFEF;
    border-top-right-radius: 20px;
    padding: 5px 20px;
}

.top {
    margin-bottom: 50px;
}

.row {
    content: "";
    clear: both;
    display: table;
}

.row>label {
    float: right;
    width: 75px;
}

.row>input {
    float: right;
    width: 160px;
    padding: 3px;
}

.row>textarea {
    float: right;
    width: 235px;
    height: 100px;
    padding: 3px;
    border: 1px solid #808992;
}


/************** footer ****************/

.footer-container {
    position: relative;
}

footer {
    position: fixed;
    bottom: 0;
    right: 0;
    height: 40px;
    padding-top: 5px;
}

footer nav a {
    display: inline-block;
    text-decoration: none;
    font-size: 14px;
    color: white;
    width: max-content;
    padding: 10px 0px 0px 0px;
}

footer nav a:hover {
    color: #4D63A0;
}

footer span {
    color: white;
}

.hesder {
    color: red;
}

footer nav {
    position: relative;
}

.fb-icon {
    position: absolute;
    bottom: -2;
    right: -25px;
}