* {
    box-sizing: border-box;
}

body {
    direction: rtl;
    text-align: right;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    position: relative;
    width: 900px;
    margin: auto;
}

header,
footer {
    background-image: linear-gradient(#909090, #a2a2a2);
    width: 100%;
}

header {
    height: 110px;
}

.search-box>.search-button {
    position: absolute;
    top: 19px;
    left: 0px;
}

.search-box input {
    position: absolute;
    top: 20px;
    left: 20px;
    border-top-right-radius: 5px;
    border: 0;
}

.english {
    position: absolute;
    top: 20px;
    left: 180px;
}

.english a {
    font-size: 12px;
}

.logo {
    position: absolute;
    top: -40px;
    right: -10px;
}

.navbar {
    position: absolute;
    top: 75px;
    z-index: 2;
    width: 900px;
    justify-content: space-between;
    padding-right: 120px;
}

#icon {
    width: 20px;
    height: 15px;
    margin-top: 3px;
}

.flex {
    display: flex;
}

header a {
    font-size: 14px;
    font-weight: bold;
    color: white;
    text-align: right;
    padding: 5px 5px;
    text-decoration: none;
}

.dropdown-content a {
    border-bottom: 1px solid rgb(179, 179, 179);
}

.dropdown {
    position: relative;
}

header a:hover,
.dropdown:hover {
    color: #2733db;
    text-decoration: underline;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #909090;
    min-width: 120px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    display: block;
}

.dropdown:hover .dropdown-content {
    display: block;
}


/**************** main ****************/

.top-row-img {
    position: relative;
    float: right;
    width: 293px;
    height: 355px;
    margin-top: 30px;
}

.top-row-img>img {
    border-radius: 0px 0px 20px 0px;
}

.top-left,
.top-middle {
    margin-right: 10px;
}

.top-row::after,
.bottom-row::after {
    content: "";
    clear: both;
    display: table;
}

.text {
    position: absolute;
    top: 250px;
    width: 248px;
    Height: 97px;
    margin-right: 5px;
    padding-right: 10px;
    border-radius: 0px 0px 20px 0px;
    background-color: rgb(148, 147, 147);
    opacity: 0.9;
    color: white;
    font-size: 13px;
    line-height: 13px;
    z-index: 1;
}

.text .left {
    position: absolute;
    top: 250px;
    left: 300px;
}

.top-row-img h4 {
    font-weight: bold;
    font-size: 14px;
    margin-top: 10px;
    margin-bottom: 5px;
}

.top-row-img p {
    margin: 0px 5px;
    max-height: 60px;
}

.text a {
    color: white;
}

.read {
    margin-left: 10px;
    text-align: left;
}


/******* bottom row ********/

.bottom-row {
    float: right;
    width: 290px;
    height: 216px;
    margin: 30px 5px 30px 5px;
    padding: 0px 20px;
    border-radius: 0px 20px 0px 0px;
    background-color: #ddd;
}

.bottom-row>p {
    font-weight: bold;
    font-size: 14px;
    text-align: right;
}

.bottom-row>hr {
    color: #aaa;
    margin-top: -5px;
}

.bottom-row>img {
    width: 99%;
}

#map {
    width: 25%;
    margin: 0px 160px 40px 0px;
}

.bottom-row a {
    font-size: 12px;
}

.bottom-row>.a-details {
    text-align: left;
}

.bottom-row>a-areas {
    text-align: right;
}

.map-div {
    position: relative;
}

.a-areas {
    position: absolute;
    top: 35px;
    right: 20;
    line-height: 20px;
}

.bottom-row p {
    color: rgb(87, 87, 87);
}

.bottom-row span,
.text span {
    padding-right: 5px;
}


/************** footer ****************/

.footer-container {
    position: relative;
}

footer {
    position: fixed;
    bottom: 0;
    right: 0;
    height: 40px;
    padding-top: 5px;
}

footer nav a {
    display: inline-block;
    text-decoration: none;
    font-size: 14px;
    color: white;
    width: max-content;
    padding: 10px 0px 0px 0px;
}

footer nav a:hover {
    color: #4D63A0;
}

footer span {
    color: white;
}

.hesder {
    color: red;
}

footer nav {
    position: relative;
}

.fb-icon {
    position: absolute;
    bottom: -2;
    right: -25px;
}